<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CalcBinding" version="2.2.4" targetFramework="net452" userInstalled="true" />
  <package id="DynamicExpresso.Core" version="1.1.0" targetFramework="net452" userInstalled="true" />
  <package id="Fody" version="1.29.2" targetFramework="net452" userInstalled="true" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="net452" userInstalled="true" />
</packages>